.body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body select{
    background-color: transparent;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: min-content;
}

.body div video{
    width: 300px;
}

.buttons{
    display: grid;
    grid-template-columns: auto auto;
}

.buttons button{
    width: 100px;
}