.input{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form input{
    border: solid 1px white;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
}

.form{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.form button{
    padding: 15px;
    background-color: transparent;
    color: white;
    border: solid white 2px;
    border-radius: 10px;
}